body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

*, *:before, *:after
{
    box-sizing: border-box;
}

.container {
    width: 100%;
max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


.intro {
    background: url(images/intro.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro_content {
text-align: center;
}

.header {
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.header.fixed {
    background-color: #e88184;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 10px 0;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    
    transform: translate3d(0, 0, 0);
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30pt;
    font-weight: 700;
}

.nav {
    display: block;
}

.nav_link, .nav_link2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    margin: 0 15px;
    font-size: 14pt;
    transition: color .1s linear;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.nav_link:after {
    content: "";
    display: block;
    background-color: #fce38a;
    width: 100%;
    height: 3px;
    margin: 0 auto;
    position: absolute;
    top: 100%;
    opacity: 0%;
        transition: opacity .1s linear;
}

.nav_link:hover:after {
opacity: 100%;
    background-color: #fce38a;
}

.nav_link:hover, .nav_link2:hover {
    color: #fce38a;
}

.nav_link.active {
   color: #fce38a; 
}

.nav_link.active:after {
    opacity: 1;
}

.nav-toggle {
    width: 30px;
    display: none;
    position: absolute;
    top: 25px;
    right: 20px;
    padding: 10px 0;
    cursor: pointer;
}

.nav-toggle.active .toggle__item {
    background: none;
}

.toggle__item:before, .toggle__item:after {
    transition: transform .2s linear;
}

.nav-toggle.active .toggle__item:before {
    transform-origin: left top;
    transform: rotate(45deg) translateX(-1px);
}

.nav-toggle.active .toggle__item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translateX(-2px);
}

.toggle__item {
    width: 100%;
    height: 3px;
    background-color: white;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.toggle__item:before, .toggle__item:after {
    width: 100%;
    height: 3px;
    content: "";
    background-color: white;
    position: absolute;
}

.toggle__item:before {
    top: -9px;
}

.toggle__item:after {
    bottom: -9px;
}

.suptitle {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 50pt;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}

.title {
    font-size: 100pt;
    text-align: center;
    line-height: 1;
}


.title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: white;
    text-align: center;
    margin: 60px auto;
}

.button1 {
    display: inline-block;
    border: 3px solid #fff;
    padding: 10px 15px;
    color: white;
    vertical-align: top;
    text-decoration: none;
    transition: background .1s linear, color 0.3s linear;
    font-size: 14pt;
    font-weight: 700;
}

.button1:hover {
background-color: white;
    color: #333;
}

.slider {
    margin-top: 110px;
display: flex;
    justify-content: space-between;
    font-size: 18pt;
}

.slider_item {
    opacity: 50%;
    width: 23%;
    padding: 20px 0;
    border-top: 3px solid #fff;
    transition: .1s opacity linear;
}

.slider_item:hover {
    cursor: pointer;
    opacity: 60%;
}

.slider_item.active {
    opacity: 100%;
    position: relative;
}

.slider_item.active:before {
    display: block;
    content: "";
    width: 40%;
    height: 3px;
    opacity: 100%;
    position: absolute;
    background-color: #f38181;
    top: -3px;
    left: 0;
    z-index: 1;
}

.section {
    padding: 80px 0;
    overflow: hidden;
}

.each_page_text {
    margin-top: 100px;
}

.facts {
    margin-bottom: 30px;
}

.title2 {
    color: black;
    font-size: 23pt;
    text-align: center;
    line-height: 1;
        font-family: 'Montserrat', sans-serif;
}

.title2:after {
    display: block;
    content: "";
    background-color: #f38181;
    width: 60px;
    height: 3px;
    text-align: center;
    margin: 60px auto;
}

.suptitle2 {
    opacity: 80%;
    margin-top: 30px;
    color: black;
    margin-bottom: 10px;
    font-size: 16pt;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}

.facts_text {
font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    color: #999999;
    opacity: 85%;
    text-align: center;
    font-weight: 500;
    margin-bottom: 80px;
}

.images_slider {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.img_item {
    position: relative;
    margin: 0 0px;
    width: 31.333333%;
}

.img_inner {
    background-color: #95e1d3;
}

.img_item:hover .img_item_gradient img {
    opacity: .3;
}

.img_item:hover .img_item_gradient {
    transform: translate3d(-12px, -12px, 0px);
}



.img_item_gradient img {
    transition: opacity .1s linear;
    max-width: 100%;
    height: auto;
    display: block;
}

.img_item_gradient {
    background: linear-gradient(to bottom, #dc7676, #ecd484);
    transition: transform .2s linear;
}

.img_text_team {
    font-size: 16pt;
    font-weight: 700;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    opacity: 0;
    width: 100%;
    z-index: 2;
    left: 0;
    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
    transition: transform .2s linear;
}

.img_item:hover .img_text_team {
    opacity: 1;
}

.facts_footer {
    background-color: #95e1d3
}


.fct_cnt {
    display: flex;
    flex-wrap: wrap;
}

.fact_item {
    flex: 1 1 0;
    padding: 70px 20px;
    border-left: 1px solid;
    text-align: center;
}

.fact_item:last-child {
    border-right: 1px solid;
}

.number {
    margin-bottom: 10px;

    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}

.number_subtext {
    font-size: 14px;
    text-transform: uppercase;
}

.amazing_services {
    height: 650px;
}

.services_container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.service_cell {
    width: 33.3333333333%;
    position: relative;
    margin-bottom: 45px;
    padding: 20px;
    display: block;
    max-height: 50%;
}

.cell_title {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    font-size: 13pt;
    font-weight: 700;
    opacity: .9;
    text-align: left;
}

.cell_suptitle {
    margin-top: 13px;
    color: #b3b3b3;
}

.service_icon {
    position: absolute;
    left: -5%;
    top: 10%;
    z-index: 1;
}

.grey_line{
    display: block;
    content: "";
    background-color: #e5e5e5;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 80px;
}

.unique_design {
    background: url(images/design_bg.png);
    height: 850px;

}

.design_img_container {
    position: relative;
}

.tablet_picture {
    margin: 0 auto;
    position: absolute;
    left: 25%;
    top: -43px;
}

.phone_picture {
    position: absolute;
    left: 60%;
    top: 200px;
}

.design_text_container {
    padding-top: 50px;
}

.whatwedo_text {
    width: 100%;
}

.service_whatwedo {
    margin-top: 150px;
}

.whatwedo_subtitle {
    text-align: center;
    opacity: 1;
}

.whatwedo_subtitle {
    color: #999;
    opacity: 1;
}

.whatwedo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
    padding: 0 -15px;
}

.whatwedo_item {
    width: 50%;
    padding: 0 15px;
}

.wedoimage {
    display: block;
    max-width: 100%;
    height: auto;
}

.accordion_item {
border: 1px solid #e5e5e5;
    margin-bottom: 23px;
}

.accordion_item.active {
    border-bottom: 1px solid #e5e5e5;
}

.accordion_item.active .accordion_header {
    border-bottom: 1px solid #e5e5e5;   
}

.accordion_item.active .accordion_text {
    display: block;
}

.accordion_item.active .accordion_header:after {
    transform: rotate(-45deg);
    margin-top: 8px;
}


.accordion_text {
    color: #999;
    margin-top: 10px;
    padding: 15px 20px;
    font-size: 15px;
    display: none;
}

.accordion_icon {
    margin-right: 10px;
}

.accordion_header {
    display: flex;
    padding: 10px;
    position: relative;
}

.accordion_header:after {
    display: block;
    content: "";
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    position: absolute;
    width: 17px;
    height: 17px;
    right: 30px;
    top: 15px;
    transform: rotate(135deg);
}

.accordion_title {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 700;
    padding-top: 5px;
}

.whatwedo_quote {
    margin-top: 100px;
    width: 100%;
    background-color: #f8f8f8;
}

.quote_content {
    color: #9f9f9f;
    font-size: 18 pt;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.quote_item {
    height: 290px;
    margin: 0 30px;
    display: flex;
    justify-content: center;
}

.quote_image {
    width: 65px;
    height: 65px;
    margin-top: 80px;
    margin-left: 20px;
    border: 3px solid #95e1d3;
    padding: 45px;
}

.quote_container {
    display: flex;
    position: relative;
}

.quote_container:before {
    border-top: 3px solid #cccccc;
    border-right: 3px solid #cccccc;
    width: 15px;
    height: 15px;
    content: "";
    transform: rotate(-135deg);
    position: absolute;
    top: 50%;
}

.quote_container:after {
    border-top: 3px solid #cccccc;
    border-right: 3px solid #cccccc;
    width: 15px;
    height: 15px;
    content: "";
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 20px;
}

.quote_subcontent {
    font-family: 'Kaushan Script', cursive;
    color: #333333;
    font-size: 24pt;
    display: flex;
}

.quote_subcontent:before {
    display: block;
    content: "";
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin-top: 18px;
    margin-right: 10px;
}

.quote_text {
    margin-top: 80px;
}

.card {
    margin: 80px -15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card__item {
    width: 33.33333%;
    padding: 0 15px;
}

.card__inner {
    position: relative;
    background-color: #95e1d3;
}

.card__inner:hover .card__img {
    transform: translate3d(-10px, -10px, 0);
}

.card__inner:hover .card__img img {
    opacity: .1;
}

.card__inner:hover .card__text {
    opacity: 1;
}

.card__img {
    background: linear-gradient(to bottom, #f38181, #fce38a);

    transition: transform .2s linear;
}

.card__img img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .1s linear;
}

.card__text {
    width: 100%;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity .2s linear;
}

.card__info {
    margin-top: 20px;

    text-align: center;
}

.card__name {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 17px;
    color: #333;
    text-transform: uppercase;
}

.card__prof {
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    color: #999;
}


.hipster_barbershop_block {
    width: 100%;
    margin-top: 100px;
    padding: 70px;
}

.logos__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.barbershop__logo {
    width: 11.666666%;;
    height: 50%;
}

.ourteam_item_pic:hover .ourteam_pic_gradient {
transform: translate3d(-12px, -12px, 0px);
}

.ourteam_item_pic:hover .ourteam_person {
    opacity: .3;
    transform: translate3d(-12px, -12px, 0px);
}

.ourteam_item_pic_bg {
    background-color: #95e1d3;
    display: block;
    content: "";
    width: 100%;
    height: 470px;
    position: relative;
}

.ourteam_pic_gradient {
    background: linear-gradient(to bottom, #ef8989, #efd888);
    width: 100%;
    transition: transform .2s linear;
    position: relative;
    z-index: 1000;
    height: 100%;
}

.social {
    display: flex;
    justify-content: center;
}

.social__item {
    width: 55px;
    height: 55px;
    padding: 12px 10px;

    background-color: #fce38a;
    border-right: 1px solid #f38181;

    font-size: 30px;
    text-decoration: none;
    color: #f38181;
    line-height: 1;

    transition: background .1s linear, color .1s linear;
}

.social__item:last-child {
    border-right: 0;
}

.social__item:hover {
    color: #fff;
    background-color: #f38181;
}

.hipster_barbershop_block {
    background-color: #f8f8f8;
    height: 250px;
}

.barbershop_logos {
    padding-top: 55px;
}

.gallery {
    width: 100%;
    display: flex;
    background-color: #95e1d3;
    flex-wrap: wrap;
}

.gallery_collumn {
    display: flex;
    flex-direction: column;
    width: 25%;
}


.gallery__item {
    max-width: 100%;
    height: auto;
    transition: opacity .2s linear;
    display: block;
}

.gallery__item_container {
     background: linear-gradient(to bottom, #ef8989, #efd888);
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

.gallery__item_container:hover .gallery__item {
    opacity: .2;
}


.item_subtitle {
    font-style: italic;
}

.item__title {
    font-weight: 700;
}

.item__content {
    position: absolute;
    z-index: 100;
    top: 50%;
    margin: 0 auto;
    opacity: 0;
    transition: opacity .3s linear;
}

.gallery__item_container:hover .item__content {
    opacity: 1;
}

.gallery__item_container:hover {
    cursor: pointer;
}

.quote_image2 {
    padding-top: 50px;
}

.quote {
    margin-top: 108px;
}

.happyclients_section {
    margin-top: 120px;
    background: url("images/happyclients_bg.png");
    background-size: cover;
}

.happyclients_text {
    padding-top: 5px;
}

.hc_item__content {
    color: #999;
}

.happyclients__container {
    display: flex;
    flex-wrap: wrap;
}

.happyclients__col {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.happyclients__item {
    display: flex;
    margin: 40px 0px;
}

.hc_item_text {
    margin-top: 25px;
}

.hc_item_title {
    color: #666666;
    font-family: 'Montserrat', sans-serif;
}

.hc_item__icon {
    margin: 0 30px;
}

.hc_item_suptitle {
    margin: 10px auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #7e7e7e;
}

.hc_item_suptitle:after {
    display: block;
    content: "";
    width: 40px;
    height: 3px;
    background-color: #f38181;
    margin: 10px 0;
}

.blog {
    height: 740px;
    width: 100%;
}

.blog__img {
    position: relative;
}

.blog__item {
    width: 31.33333333%;
}

.blog__item:hover .blog_anchor {
    text-decoration: underline;
}

.blog__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog_anchor {
    text-decoration: none;
    color: #9f9f9f;
}


.blog__title {
    color: #404040;
    text-transform: uppercase;
    font-size: 12pt;
    margin: 10px 0px;
}

.blog__subtitle {
    color: #9f9f9f;
    font-weight: 500;
    font-size: 11pt;
}

.blog__subtitle:after {
    background-color: #e5e5e5;
    width: 100%;
    height: 3px;
    display: block;
    content: "";
    margin: 10px 0px;
}

.blog_foot__inf {
    display: flex;
}

.blog__views, .blog__comments {
    color: #95e1d3;
    margin-right: 5px;
}

.blog__numbers {
    margin: 0 10px 0 0;
    color: #b9b9b9;
    font-size: 9pt;
    font-weight: 500;
}

.dateplace {
    display: block;
    content: "";
    background-color: #95e1d3;
    width: 65px;
    height: 75px;
    position: absolute;
    top: 61%;
    left: -3%;
    text-align: center;
}

.dateplace__number {
    font-size: 24pt;
    margin-top: 5px;
}

.dateplace__number_sub {
    font-size: 16pt;
    font-weight: 500;
}

.map {
    background: url("images/footer_map.png");
    background-size: cover;
    text-align: center;
}

.map_inner {
color: #f38181;
    font-weight: 700;
    font-size: 20pt;
    padding-top: 55px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.fas fa-map-marker-alt {
    margin-bottom: 30px;
}

.map_title {
    position: relative;
    margin-top: 15px;
    text-decoration: none;
    color: #f38181;
}

.map_title:after {
    display: block;
    content: "";
    width: 65px;
    height: 4px;
    background-color: #f38181;
    margin: 10px auto;
}

.footer {
    width: 100%;
    margin-top: 70px;
}

.footer__about_mogo {
    display: flex;
    width: 40%;
    flex-direction: column;
	padding-right: 30px;
}

.footer__about_text {
    display: flex;
    flex-direction: column;
}

.footer__about_text:after {
    display: block;
    content: "";
    background-color: #d4d4d4;
    opacity: .4;
    width: 100%;
    height: 1px;
    margin: 15px 0px;
}

.footer__about_title {
    color: #ccc;
    font-weight: 700;
    font-size: 35pt;
}

.footer__about_subtitle {
    color: #b1b1b1;
    font-weight: 500;
    margin: 32px 0px;
}

.followers_count {
    color: #333;
    font-weight: 700;
}

.fc {
    font-weight: 500;
}

.fwus {
    color: #d4d4d4;
    margin-right: 10px;
    font-weight: 500;
}

.followus {
    display: flex;
    font-size: 13pt;
    font-style: italic;
}

.followus_item {
    color: #95e1d3;
    height: 33%;
    font-size: 15pt;
    margin: auto 15px auto 0px;
}

.email__input {
    padding: 12px;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    font-style: italic;
    color: #a5a5a5;
    font-size: 15px;
    margin-right: 5px;
}

.subscribe__button {
    background-color: #95e1d3;
    color: #f2fbf9;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14pt;
    border: 0;
    height: 43px;
    width: 160px;
}

.subscription {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.footer_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blogs__item {
    display: flex;
    width: 29%;
}

.blogs__item_pic img:hover {
    cursor: pointer;
}

.blogs__item_text {
    margin: auto 0px auto 20px;
}

.blogs__text_title {
    color: #333333;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.blogs__text_title:hover {
    text-decoration: underline;
}

.blogs__text_date {
    color:#b1b1b1;
}

.footer__title {
    color: #333333;
    font-weight: 700;
    text-transform: uppercase; 
    margin-bottom: 40px;
}

.footer__blogs__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}

.inst_col {
    display: flex;
    flex-direction: column;
    margin-right: 2px;
}

.inst_col__item {
    width: 88px;
    height: 88px;
    margin-bottom: 2px;
    transition: transform .2s linear;
}

.photo_grid {
    display: flex;
}

.instagram_gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}

.gallery_viewmore {
    color: #717171;
    font-style: italic;
    text-decoration: none;
}

.inst_col__item:hover {
    transform: translate3d(0, -2px, 20px);
}

@media (max-width: 1230px) {
    .suptitle {
    font-size: 50pt;
}

.title {
    font-size: 100pt;
}
    .ourteam_item {
        margin-bottom: 20px;
    }
    .blog__item {
        width: 100%;
        max-width: 410px;
        margin-bottom: 20px;
    }
    .blog__item img {
        width: 100%;
    }
    .blog__container {
        justify-content: center;
    }
    .blog__subtitle:after {
        width: 380px;
    }
    .blog__text {
        width: 380px;
    }
    .footer__about_mogo {
        width: 100%;
        margin-bottom: 20px;
    }
    .instagram_gallery, .footer__blogs__container {
        width: 30%;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .footer_container {
        justify-content: center;
    }
}

@media (max-width: 990px) {
    .suptitle {
    font-size: 30pt;
}

.title {
    font-size: 80pt;
}
    
.nav_link, .nav_link2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    margin: 0 15px;
    font-size: 12pt;
    transition: color .1s linear;
    text-decoration: none;
    position: relative;
}
    .instagram_gallery, .footer__blogs__container {
        width: 270px;
        margin: 0 20px;
    }
}

@media (max-width: 770px) {
    .suptitle {
    font-size: 30pt;
}

    .nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #e88184;
        width: 100%;
    }
    
    .nav-toggle {
        display: block;
    }
    
    .nav_link, .nav_link2 {
        display: block;
        margin: 0;
        padding: 8px 20px;
        width: 100%;
    }
    
    .nav_link:after {
        left: 0;
    }
    
    .slider {
        font-size: 16pt;
    }
    .slider span {
        display: none;
    }
    
.title {
    font-size: 80pt;
}
    .img_item {
        width: 100%;
        max-width: 380px;
        margin-bottom: 3%;
    }
    .images_slider {
        justify-content: center;
    }
    
    .wedoimage {
        display: none;
    }
    .whatwedo_item {
        width: 100%;
    }
    .item__title {
        font-size: 9pt;
    }
    .item_subtitle {
        font-size: 8pt;
    }
    .happyclients__col {
        width: 100%;
    }
        .card {
        margin-top: 50px;
        justify-content: center;
    }

    .card__item {
        width: 100%;
        max-width: 410px;
        margin-bottom: 30px;
    }

    .card__item:last-child {
        margin-bottom: 0;
    }
    .gallery_collumn {
        width: 50%;
    }
}

@media (max-width: 690px) {
    .slider {
        font-size: 14pt;
    }
        .suptitle {
    font-size: 25pt;
}

.title {
    font-size: 70pt;
}
    .service_icon {
    left: 30%;
    top: -15%;
    }
    .service_cell {
        width: 50%;
    }
    .fact_item {
        width: 33.33333%;
        flex: none;
        border-left: none;
        border-right: none;
        padding: 20px 10px;
    }
    .fact_item:last-child {
        border-right: none;
    }
    .fct_cnt {
        justify-content: center;
    }
    .item__content {
        top: 45%;
    }
    .barbershop__logo {
        width: 33.33333%;
        margin-top: 20px;
    }
    .hipster_barbershop_block {
        padding-top: 0;
    }
}

@media (max-width: 575px) {
    .title {
        font-size: 55pt;
    }
    .suptitle {
        font-size: 20pt;
    }
    .title2 {
        font-size: 18pt;
    }
    .suptitle2 {
        font-size: 14pt;
    }
    .facts_text, .whatwedo_subtitle
    {
        font-size: 12pt;
    }
    .tablet_picture {
        top: -33px;
    }
    .blog__item {
        justify-content: center;
    }
}

@media (max-width: 445px) {
        .title {
        font-size: 45pt;
    }
    .suptitle {
        font-size: 20pt;
    }
    .service_cell {
        width: 100%;
    }
        .service_icon {
    left: 5%;
    top: -15%;
    }
    .fact_item {
        width: 100%;
    }
    .tablet_picture {
        left: 3%;
    }
    .quote_item:first-child {
        display: none;
    }
    .item__content {
        top: 40%;
    }
    .item__title {
        font-size: 4pt;
    }
    .item_subtitle {
        font-size: 4pt;
    }
    .blog__img img, .blog__img, .blog__text, .blog__subtitle:after {
        max-width: 100%;
    }
    .ourteam_item, .ourteam_pic_gradient img {
        max-width: 100%;
        justify-content: center;
    }
}

@media (max-width: 364px) {
    .title {
        font-size: 35pt;
    }
    .logo {
        font-size: 25pt;
    }
}